<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nwafu.blog.dao.TypeMapper">
    <resultMap id="typeResultMap" type="cn.edu.nwafu.blog.entity.Type">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP" />
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP" />
        <result property="isDeletedFlag" column="is_deleted_flag" jdbcType="BIT"/>
    </resultMap>
    <insert id="saveType" >
        insert t_type(name, is_deleted_flag, create_time, update_time)
        values (#{name}, #{isDeletedFlag}, #{createTime}, #{updateTime})
    </insert>
    <update id="updateTypeById" parameterType="cn.edu.nwafu.blog.entity.vo.TypeVO">
        update t_type
        <set>
            <if test="name!=null">
                name=#{name},
            </if>
            <if test="createTime!=null">
                create_time=#{createTime},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
            <if test="isDeletedFlag!=null">
                is_deleted_flag=#{isDeletedFlag},
            </if>
        </set>
        where id = #{id}
    </update>
    <delete id="deleteTypeById">
        delete
        from t_type
        where id = #{id}
    </delete>
    <select id="selectTypePageList" resultMap="typeResultMap">
        select
        id,
        name,
        create_time,
        update_time
        from t_type
        where is_deleted_flag = 0
        <if test="name!=null and name!=''">
            and name like CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="selectTypeById" resultMap="typeResultMap">
        select id,
               name,
               create_time,
               update_time
        from t_type
        where is_deleted_flag = 0
          and id = #{id}
    </select>
    <select id="selectTypeByName" resultMap="typeResultMap">
        select id,
               name,
               create_time,
               update_time
        from t_type
        where is_deleted_flag = 0
          and name = #{name}
    </select>
    <select id="selectTypes" resultMap="typeResultMap">
        select id,
               name
        from t_type
        where is_deleted_flag = 0
    </select>

    <select id="selectTypesAndCount" resultMap="typeResultMap">
        SELECT
            tt.id,
            tt.NAME,
            ( SELECT COUNT( type_id ) FROM t_blog tb WHERE tb.type_id = tt.id AND tb.is_deleted_flag = 0 ) AS count
        FROM
            t_type tt
        WHERE
            tt.is_deleted_flag = 0
    </select>

</mapper>