<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.nwafu.blog.dao.UserMapper">
    <resultMap id="UserResultMap" type="cn.edu.nwafu.blog.entity.User">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="nickName" column="nickname" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="isDeletedFlag" column="is_deleted_flag" jdbcType="BIT"/>
        <result property="sex" column="sex" jdbcType="INTEGER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="accountId" column="account_id" jdbcType="BIGINT"/>
        <result property="token" column="token" jdbcType="CHAR"/>
    </resultMap>
    <update id="updateUser">
        update t_user
        set token=#{token}
        where account_id = #{accountId}
    </update>

    <select id="selectUserByUserFlags" resultMap="UserResultMap">
        SELECT id,
               avatar,
               create_time,
               email,
               nickname,
               `password`,
               role_id,
               update_time,
               username,
               is_deleted_flag,
               sex,
               description
        FROM t_user
        where email = #{email}
    </select>
    <select id="checkUserByAccountId" resultType="cn.edu.nwafu.blog.entity.User">
        select *
        from t_user
        where account_id = #{accountId}
    </select>
    <select id="findUserByToken" resultType="cn.edu.nwafu.blog.entity.User">
        select *
        from t_user
        where token = #{token}
    </select>


    <insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user
        (username, password, create_time, update_time, is_deleted_flag, role_id, account_id, token, avatar, email)
        VALUES (#{username}, #{password}, #{createTime}, #{updateTime}, #{isDeletedFlag}, #{roleId}, #{accountId},
                #{token}, #{avatar}, #{email})
    </insert>
</mapper>